$main_color: #b284f6;
$dark_grey: #2e3233;
$red:#ff0000;
$transparent: transparent;

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 40px;
    line-height: 1.7;
}

h3 {
    font-size: 28px;
    line-height: 1.7;
}

h4 {
    font-size: 22px;
    line-height: 1.5;
}

p {
    font-size: 17px;
    line-height: 1.7;
    color: $dark_grey;
}

span {
    font-size: 17px;
    text-decoration: none;
    line-height: 1.7;
    color: $dark_grey;
}

a {
    font-size: 17px;
    text-decoration: none;
    line-height: 1.7;
    color: $dark_grey;
}

label {
    font-size: 21px;
    line-height: 1.7;
}

img {
    width: 100%;
}

button {
    padding: 0;
    border-width: 0px;
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    opacity: 0.5;
    cursor: auto;
}

*,
body {
    font-family: "Noto Sans", "Noto Sans TC", "Noto Sans SC", "Microsoft JhengHei", "Noto Sans TC", "Microsoft YaHei",
        "PingFang TC", "PingFang SC", "Heiti TC", "Heiti SC", "LiHei Pro", "STXihei", sans-serif;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

// header開始
header {
    nav {
        .container-fluid {
            padding: 0px 5%;
            .navbar-brand {
                img {
                    height: 50px;
                }
            }
            .navbar-collapse {
                justify-content: center;
                ul {
                    li {
                        .nav-link {
                            color: $dark_grey;
                            padding: 0px 10px;
                            &.active {
                                color: $main_color;
                            }
                        }
                    }
                }
            }
        }
    }
}
// header結束

// 首頁index開始
.news {
    max-width: 1200px;
    margin: 40px auto 0px;
    overflow: hidden;
    .news_title {
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, $main_color, $transparent) 30 30;
        padding-bottom: 5px;
        margin: 0px auto 8px;
        display: flex;
        justify-content: space-between;
        h4 {
            color: $main_color;
        }
        a{
            color: $red;
            &:hover{
                color: darken($red , 10%);
            }
        }
    }
    .news_content {
        display: flex;
        height: 200px;
        flex-wrap: wrap;
        flex-direction: column;
        .news_item {
            display: flex;
            justify-content: space-between;
            margin: 8px auto;
            padding: 0 8px;
            a {
                width: calc(95% - 100px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:hover{
                    color: darken($dark_grey, 10%);
                    font-weight: bold;
                }
            }
            &.important_information {
                border-bottom: 1px solid $main_color;
                a {
                    color: $main_color;
                }
                &:hover{
                    color: darken($main_color, 10%);
                }
            }
        }
    }
}
